html {
    height: 100%;
}
    
body {
    position: absolute;
    margin: 0;
    min-height: 100%;
    width: 100%;
    font-family: Arial;
    background-color:gainsboro;
}

.header{
    position: fixed;
    width: 100%;
    color: white;
    background-color: orangered;
    padding: 10px;
    height: 70px;
    z-index: 1;
}

.footer {
    position: absolute;
    height: 15px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: orangered;
    color: white;
    text-align: center;
}
    
.header h1 {
    text-align: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

.content {
    margin-top: 100px;
    margin-right: 160px;
}

.leftnav{
    float:left;
    height: 100%;
    width:160px;
    
}

.search{
    padding: 2em;
    margin-left: 160px;
    height: 100%;
    background-color: ghostwhite;
}

.search-fields{
    border-color: transparent;
    border-style: groove;
    background-color: ghostwhite;
}

.search ul{
    display: inline-grid;
    border: 1px;
    border-color: transparent;
    border-style: groove;
    background-color: ghostwhite;
}

.search li{
    padding: 1em;
    border-color: silver;
    border-style: groove;
    border-width: 1px;
    margin: 1px;
}

.search li:hover{
    background-color: darkgray;
}

.search .text-align{
    margin-left: 30px;
}

.search .text-align a{
    margin-left: 30px;
}

.result{
    padding: 1em;
    height: 100%;
}

.result-text {
    margin-left: 120px;
}

nav {
    position: fixed;
    float: left;
    max-width: 140px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: darkgray;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 5px;
}

nav ul a:hover {
    color: orangered;
}
nav ul a {
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
	font-weight:bold;
}

#userLogin a {
    float:right;
    padding-right: 20px;
    padding-left: 10px;
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
}

#userLogin {
    float: right;
    line-height: 65px;
    padding-right: 5px;
}

.img-circle {
    border-radius: 50%;
    width: 60px;
    border: 1px;
    padding: 4px;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.img-box2 {
    border-radius: 5%;
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

#logout {
    width: 50px;
    float: left;
    line-height: 65px;
    padding-right: 5px;
    padding-top: 10px;
}

.onhover{
    cursor: pointer;
}

.form-login-link{
    cursor: pointer;
    color: blue;
}

#arrowdown {
    width: 100px;
    bottom: 0px;
    position: absolute;
    margin-bottom: 30px;
}

.form-login {
    width:250px; 
    margin:0 auto;
}