<div class="container" ng-controller="AboutController">
	<div class="row">
		<div class="col-xs-12">
		   <ul class="breadcrumb">
			   <li><a href="index.html">Home</a></li>
			   <li class="active">About Us</li>
		   </ul>
		</div>
		<div class="col-xs-12">
		   <h3>About Us</h3>
		   <hr>
		</div>
	</div>
	<div class="row row-content">
		<div class="col-xs-12 col-sm-8">
			<h2>WHO ARE WE?</h2>
			<p class="cmBox_text_subline cmBox_text_subline-2">Welcome to Zalando UK. We’re the ones with the orange triangle. From the beginning we've been all about High Street to High End brands - bringing them together, all in one place. We have Europe’s largest selection of clothing, accessories and shoes online, mixing popular British High Street brands with high end designers and fresh, independent labels. </p>
		</div>

		<div class="col-xs-12 col-sm-8">
			<h2>Our History</h2>
			<p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
			<p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
			<div class="well">
				<blockquote>
					<p>You better cut the pizza in four pieces because
						I'm not hungry enough to eat six.</p>
					<footer>Yogi Berra,
					<cite title="Source Title">The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books, 2014</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
