<div class="jumbotron">
		<h1>Find what you need!</h1>
		<p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
		<div class="col-lg-4">
				<div class="input-group">
					<input id="search" class="form-control" type="search" placeholder="What are you looking for?"/>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" onclick="search()">Search </button>
					</span>
			</div>
		</div>
		<a class="onhover" onclick="navigateToProductRegister()">Do you want to add a product?</a>
</div>

<ul id="result" class="result" style="list-style-type:none"></ul>