<div class="container" ng-controller="TimelineController">
	<div class="jumbotron">
			<h1></h1>
			<p>Últimos produtos adicionados.</p>
			<video src="images/storyofstuff2.mp4" controls autoplay></video>
	</div>
	<div class="col-xs-12" ng-if="!showTimeline">
		<h3>{{message}}</h3>
	</div>
	<div ng-if="showTimeline">
		<ul id="timelineResult" class="result" style="list-style-type:none">
			<li ng-repeat="product in products">
				<div class="media">
					<div class="media-left">
						<a><div class="img media-object" style="background-image:url(\images{{product.filePath | escape}}"></div></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading onhover" ui-sref="app.product({id: product._id})" >{{product.name}}</h4>
						<span class="card-text"><small class="text-muted">{{product.city}} {{product.state}} - {{product.zipCode}}</small></span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>